ul#sortable
  - @content.tracks.each do |track|
    li #{track_info(track)}
        #{link_to 'Editar', edit_content_path(track.content)}
        #{link_to 'Eliminar', content_path(track.content, :back => @content.id), :confirm => 'Está seguro ?', :method => :delete }

javascript:
  $(function() {
		$( "#sortable" ).sortable({
		  stop: function(event, ui) {
		    console.log("Move item to: " + ui.item.index());
		  }
		});
		$( "#sortable" ).disableSelection();

	});

