form.formtastic fieldset.inputs ol fieldset.complex-inputs {
    padding: 5px;
    width: auto;
}

form.formtastic fieldset.inputs ol fieldset.complex-inputs legend {
    display: block;
    float: left;
    font-size: 0.9em;
    padding: 5px 0 5px 4%;
    text-align: left;
    width: 16%;
}

form.formtastic fieldset.inputs ol fieldset.complex-inputs ol {
    float: left;
    width: 80%;
}

form.formtastic fieldset.inputs ol fieldset.complex-inputs ol li {
    float: left;
    padding: 0 5px 0 0;
}

div.color-picker{
/*  position: absolute;*/
/*  top: 0;*/
/*  left: 0;*/
  float: left;
  width: 36px;
  height: 36px;
  background: url(../images/select2.png)
}

div.color-picker div {
  position: relative;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: url(../images/select2.png) center;
}

