//@import "compass_twitter_bootstrap";

.ui-widget-content a {
  color: #0069D6;
  padding: 0 5px;
}

.ui-widget-content .links {
  padding-bottom: 15px;
}

.page-header h2 small{
  padding-left: 10px;
}
