/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass_twitter_bootstrap";

td .btn{
  margin-left: 5px;
}

.master{
  margin-top: 60px;
}

//.page-header h1{
//  float: left;
//}

.page-header a.btn{
  float: right;
  clear: left;
//  display: inline;
}
