<script id="template-event" type="text/x-jquery-tmpl">
  <h2>${title}</h2>
  <h3>Agenda</h3>
  <ul>
    {{each segments}}
      <li>${$value.wday} de ${$value.start} a ${$value.end}</li>
    {{/each}}    
  </ul>
  <a href='/schedules/${id}/edit'>Editar</a> | 
  <a href='/schedules/${id}'>Mas detalles...</a>
  
  <h3>Contenidos</h3>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Publica el</th>
        <th>Expira el</th>
        <th>Duración</th>
        <th>Tamaño</th>
      </tr>
    </thead>
    <tbody>
      {{each tracks}}  
        <tr>
          <td>${$value.name}</td>
          <td>${$value.publish_at}</td>
          <td>${$value.expire_at}</td>
          <td>${$value.duration}</td>
          <td>${$value.size}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
  <a href="/playlists/${playlist}/edit">Editar</a> | 
  <a href='/playlists/${playlist}'>Mas detalles...</a>  
</script>
