h1 Calendario de programación

#calendar

#event_information

= content_for :css do
  = stylesheet_link_tag 'fullcalendar', "jquery.fileupload-ui", "flick/jquery-ui", "calendars_index"

= content_for :js do
  = javascript_include_tag 'fullcalendar.min', "jquery.tmpl.min", 'jquery.blockUI', 'calendars_index'

