dt = Playlist.human_attribute_name('name')
dd = @playlist.name
dt Cliente
dd = @playlist.client.try(:name)
- unless @playlist.description.blank?
  dt = Playlist.human_attribute_name('description')
  dd = @playlist.description
